<h1>Application</h1>
{{link-to 'Home' 'index'}}
{{outlet}}
{{link-to 'About' 'about'}}
{{#link-to 'about'}}
History
{{/link-to}}
{{#if showName}}
    <h2 id="title">Hello {{name}}!</h2>
    {{else}}
    <h2>Hello Ember!</h2>
{{/if}}

<button {{action 'toggleName'}}>Toggle Name</button>

<br>
{{numClicks}} Clicks

<button {{action 'incrementClicks'}}>Increment</button>


